* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.xayr{
    width: 85%;
    height: 85%;
    border-radius: 20%;
}
.list_item a{
    text-decoration: none;
    justify-content: space-between;
    margin-left: 40px;
}
.list{
    list-style: none;
}
.aka{
    margin-top: 20px;
}
.komil{
    width: 100%;
    height: 80%;
}
.brat{
    width: 94%;
}

.nazokat{
    margin-left: 0px;
}
.abdulloh{
    margin-left: 0px;
}




@media (max-width: 575px) {
    .xayr1{
        margin-top: 50px;
        width: 100%;
        height: 100%;
        border-radius: 20%;
    }
   
}